{% load static %}
<section class="banner">
    <img class="banner__imagem" src="{% static '/assets/imagens/Banner(2).png' %}" alt="banner Alura Space">
    <h1 class="banner__titulo"> A galeria mais completa de fotos do espaço!</h1>
</section>
<section class="tags">
    <p class="tags__titulo">Busque por tags:</p>
    <ul class="tags__lista">
        <li class="tags__tag"><a href="{% url 'tag' 'NEBULOSA' %}" class="btn" style="color:#C9C9C9">Nebulosa</a></li>
        <li class="tags__tag"><a href="{% url 'tag' 'ESTRELA' %}" class="btn" style="color:#C9C9C9">Estrela</a></li>
        <li class="tags__tag"><a href="{% url 'tag' 'GALÁXIA' %}" class="btn" style="color:#C9C9C9">Galáxia</a></li>
        <li class="tags__tag"><a href="{% url 'tag' 'PLANETA' %}" class="btn" style="color:#C9C9C9">Planeta</a></li>
        <li class="tags__tag"><a href="{% url 'tag' 'LUA' %}" class="btn" style="color:#C9C9C9">Lua</a></li>
    </ul>
</section>