{% extends 'galeria/base.html' %}
{% load static %}
{% block body %}
            <section class="conteudo">
                {% include 'galeria/partials/_top.html' %}
                <section class="galeria">
                    <div class="cards">
                        <h2 class="cards__titulo">Imagens encontradas:</h2>
                        <ul class="cards__lista">
                            {% if cards %}
                            {% for fotografia in cards %}
                            <li class="card">
                                <a href="{% url 'imagem' fotografia.id %}">
                                {% if fotografia.foto == '' or fotografia.foto == null %}  
                                <img class="card__imagem" src="{% static '/assets/imagens/galeria/default.png' %}" alt="foto">
                                {% else %}
                                    <img class="card__imagem" src="{{ fotografia.foto.url }}" alt="foto">
                                {% endif %}
                                </a>
                                <span class="card__tag">Estrelas</span>
                                <div class="card__info">
                                    <p class="card__titulo">{{ fotografia.nome }}</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">{{ fotografia.legenda }}</p>
                                        <span>
                                            <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
                                        </span>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                            {% else %}
                                <div class="imagem__texto">
                                    <p>Nenhuma imagem encontrada</p>
                                </div>
                            {% endif %}
                        </ul>
                </section>
                </div>
            </section>
{% endblock %}