{% load static %}
<section class="banner">
    <img class="banner__imagem" src="{% static '/assets/imagens/Banner(2).png' %}" alt="banner Alura Space">
    <h1 class="banner__titulo"> A galeria mais completa de fotos do espaço!</h1>
</section>
<section class="tags">
    <p class="tags__titulo">Busque por tags:</p>
    <ul class="tags__lista">
        <li class="tags__tag">Nebulosa</li>
        <li class="tags__tag">Estrela</li>
        <li class="tags__tag">Galáxia</li>
        <li class="tags__tag">Planeta</li>
    </ul>
</section>